@model PersonelDepartmanProjesi.Models.PersonelModel

@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h4>Ogrenciler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Personel.Id" class="control-label"></label>
                <input asp-for="Personel.Id" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Personel.Ad" class="control-label"></label>
                <input asp-for="Personel.Ad" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Personel.Soyad" class="control-label"></label>
                <input asp-for="Personel.Soyad" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Personel.Bolum.Ad" class="control-label"></label>
                <input asp-for="Personel.Bolum.Ad" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

