@model PersonelDepartmanProjesi.Models.BolumModel
@{
    ViewData["Title"] = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste</h1>
<form method="get" action="/Bolum/Ekle">
    <button class="btn btn-primary">ekle</button>

</form>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>ıd</th>
            <th>ad</th>
            <th> Detay </th>
            <th> guncelle </th>
            <th> Sil </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.blist)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td><a href="/Bolum/Detay/@item.Id"><i class="fas fa-pen"></i></a></td>
                <td><a href="/Bolum/Guncel/@item.Id"><i class="fas fa-pen"></i></a></td>
                <td><a href="/Bolum/Sil/@item.Id"><i class="fas fa-pen"></i></a></td>


            </tr>
        }

    </tbody>
</table>
